h3::before {
  content: attr(data-heading);
  position: absolute;
  color: black;
  height: 50%;
  overflow: hidden;
  text-align: center;
}

h3 {
  position: relative;
  width: auto;
  color: white;
  white-space: nowrap;
  font-size: 36pt;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
